{% extends 'MojeBlogBundle::layout.html.twig' %}

{% block content %}
{#  {{ parent() }}#}
  <ul>
    {% for article in articles %}
      <li>
        <a href="{{ path('show_article', { 'idArticle': article.id }) }}">{{ article.title }}</a>
        {{ article.content }} 
        {{ article.imageAddress }}
        {{ article.creationDate|date('Y-m-d') }}
        {{ article.comments|length }}
        {{ article.fkArticleUser.username }}
        {% for tag in article.tags %}
          {{ tag.name }}
        {% endfor %}
          
      </li>
    {% endfor %}
  </ul>

  {% if page != 1 %}  
    <a href="{{ path('index', { 'page': (page - 1) }) }}">Poprzednia strona</a>
  {% endif %}
  {% if page != ilosc_stron %}
    <a href="{{ path('index', { 'page': (page + 1) }) }}">Nastepna strona</a>
  {% endif %}
  <div><a href="{{ path('add_article') }}">Nowy artykul</a></div>
{% endblock %}