{% extends "::base.html.twig" %}

{% block body %}
  <div class="contrainer">
    
    {{ form_start(myForm) }}
      {{ form_errors(myForm) }}

      <div>
        {{ form_label(myForm.tytul) }}
        {{ form_errors(myForm.tytul) }}
        {{ form_widget(myForm.tytul) }}
      </div>
      
      <div>
          {{ form_label(myForm.tresc) }}
          {{ form_errors(myForm.tresc) }}
          {{ form_widget(myForm.tresc) }}
      </div>

      <div>
          {{ form_label(myForm.obrazek) }}
          {{ form_errors(myForm.obrazek) }}
          {{ form_widget(myForm.obrazek) }}
      </div>
      
      <div>
          {{ form_widget(myForm.save) }}
      </div>
      
    {{ form_end(myForm) }}

  </div>
{% endblock %}
