{% extends "::base.html.twig" %}

{% block body %}
  <div class="contrainer">
    
    {{ form_start(myForm) }}
      {{ form_errors(myForm) }}

      <div>
        {{ form_label(myForm.name) }}
        {{ form_errors(myForm.name) }}
        {{ form_widget(myForm.name) }}
      </div>
      
      <div>
          {{ form_label(myForm.price) }}
          {{ form_errors(myForm.price) }}
          {{ form_widget(myForm.price) }}
      </div>

      <div>
          {{ form_label(myForm.description) }}
          {{ form_errors(myForm.description) }}
          {{ form_widget(myForm.description) }}
      </div>
      
      <div>
          {{ form_widget(myForm.save) }}
      </div>
      
    {{ form_end(myForm) }}

  </div>
{% endblock %}
